---
import { SERVICES } from "@/data/services";
import ServiceCard from "./ServiceCard.astro";
---

<div class="serviceGrid" data-reveal>
  {SERVICES.map((service) => (
    <ServiceCard service={service} />
  ))}
</div>
